@model IEnumerable<AuctionWeb.Models.AuctionOffer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (Session["message"] != null && !string.IsNullOrEmpty(Session["message"].ToString()))
    {
        Html.Raw(Session["message"]);
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Image.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Image.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
      
    </tr>
}

</table>
