@model IEnumerable<AuctionWeb.Models.Auction>

@{
    ViewBag.Title = "Index";
}

<h2>Seznam avkcij</h2>
@if (Context.User.Identity.IsAuthenticated && true)
{

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            Ime avkcije
        </th>
        <th>
            Opis avkcije
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        
        <td>
            @if (Context.User.Identity.IsAuthenticated && true) { 

                @Html.ActionLink("Delete", "Delete", new { id = item.AuctionId }) 
                @Html.Raw(" | ")
            }
            @Html.ActionLink("Odpri avkcijo", "Details", new { id=item.AuctionId }) 
            @if (Context.User.Identity.IsAuthenticated)
            {
                @Html.Raw(" | ")
                @Html.ActionLink("Edit", "Edit", new { id = item.AuctionId })

            }
        </td>
    </tr>
}

</table>
