@model IEnumerable<AuctionWeb.Models.Auction>
@{
    ViewBag.Title = "Prva stran DZRJL avkcij";
}

<div class="jumbotron">
    <h1>@Session["message"]</h1>
    <p class="lead">Pozdravljeni na spletni strani DZRJL avkcije.</p>
    @Html.ActionLink("Pojdi na seznam avkcij", "Index", "Auctions", null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })

    
</div>

<div class="container">
    @foreach (var auction in Model)
    {
        <div class="media">
            
            <a href="@Url.Action("Details", "Auctions", new { id = auction.AuctionId})" class="list-group-item">
                <div class="media-body">
                    @foreach (var image in auction.Gallery.Images.Take(1))
                    {
                        <img class="pull-left gap-right" src="@image.ThumbnailPath">
                    }
                    <span > </span>
                    <h4 class="media-heading">@auction.Name</h4>

                    <p>@auction.Description</p>
                </div>
            </a>
        </div>
    }
</div>